<p id="notice"><%= notice %></p>

<h1>Listing Banner Managements</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Position</th>
      <th>Heading</th>
      <th>Subtitle1</th>
      <th>Subtitle2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banner_managements.each do |banner_management| %>
      <tr>
        <td><%= banner_management.name %></td>
        <td><%= banner_management.title %></td>
        <td><%= banner_management.position %></td>
        <td><%= banner_management.heading %></td>
        <td><%= banner_management.subtitle1 %></td>
        <td><%= banner_management.subtitle2 %></td>
        <td><%= link_to 'Show', banner_management %></td>
        <td><%= link_to 'Edit', edit_banner_management_path(banner_management) %></td>
        <td><%= link_to 'Destroy', banner_management, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner management', new_banner_management_path %>
