<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @banner_management.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @banner_management.title %>
</p>

<p>
  <strong>Position:</strong>
  <%= @banner_management.position %>
</p>

<p>
  <strong>Heading:</strong>
  <%= @banner_management.heading %>
</p>

<p>
  <strong>Subtitle1:</strong>
  <%= @banner_management.subtitle1 %>
</p>

<p>
  <strong>Subtitle2:</strong>
  <%= @banner_management.subtitle2 %>
</p>

<%= link_to 'Edit', edit_banner_management_path(@banner_management) %> |
<%= link_to 'Back', banner_managements_path %>
